@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Paytone+One&family=Quicksand:wght@300;400;500;600;700&family=Tenor+Sans&display=swap');


body {
    background-color: #EEE2DC;
}

h1 {
    letter-spacing: 0.25em;
    font-family: 'Paytone One', sans-serif;
    color: #8F3150;
    text-align: center;
}

h4 {
    letter-spacing: 0.25em;
    font-family: 'Paytone One', sans-serif;
    color: #AC3B61;
    text-align: center;
}

#desc {
    background-color: #fff3ed;
    font-family: 'Tenor Sans', sans-serif;
    width: 550px;
    padding: 0.5em;
    border-radius: 5px;
    color: #123C69;
    margin: auto;
    font-size: 20px;
    text-align: center;
    box-sizing: border-box;
}

#tekemiset {
    margin: auto;
    text-align:center;
}

#tekemiset * {
    text-align:center;
}

#activities {
    font-family: 'Quicksand', sans-serif;
    border-style: none;
    border-radius: 10px;
    background-color: #fff3ed;
    width: 200px;
    padding: 0.5em;
    display: block;
    margin: 0 auto;
}

option {
    background-color: white;
}

#outCome {
    font-family: 'Tenor Sans', sans-serif;
    color: #123C69;
    margin-top: 1em;
    font-size: 30px;
    text-align: center;
}
