/*h1 {
    color: blue;
    text-align: center;
}

button {
    margin: 0.5em;
    padding:1em;
    width: 150px;
    height: auto;
    border: none;
    display: inline-block;
    border-radius: 5px;
    background-color: pink;
}

p {
    margin-top: 2em;
    text-align: center;
}*/