@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Paytone+One&family=Quicksand:wght@300;400;500;600;700&family=Tenor+Sans&display=swap');


body {
    background-color: #e8d7c7;
}

h1 {
    letter-spacing: 0.25em;
    font-family: 'Paytone One', sans-serif;
    color:#6d7a71;
    text-align: center;
}

#moreInfo {
    letter-spacing: 0.25em;
    font-family: 'Paytone One', sans-serif;
    color: #6d7a71;
    text-align: center;
}

#moreInfo:hover {
    color: #cdd9c5;    
    cursor: pointer;
}


#desc {
    background-color: #fdfdfd;
    font-family: 'Quicksand', sans-serif;
    width: 100%;
    padding: 0.5em;
    border-radius: 5px;
    color: #ba806a;
    margin: auto;
    font-size: 20px;
    text-align: center;
    box-shadow: rgba(170, 168, 145, 0.1) 0px 10px 50px;
}

#tekemiset {
    background-color: #fffbf7;
    border-radius: 20px;
    padding: 5em;
    margin: auto;
    text-align:center;
}

#tekemiset * {
    text-align:center;
}

#activities {
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    border-style: none;
    border-radius: 10px;
    background-color: #eee2dc;
    width: 200px;
    padding: 0.5em;
    display: block;
    margin: 0 auto;
    cursor: pointer;
}

option {
    background-color: white;
}


#outCome {
    font-family: 'Tenor Sans', sans-serif;
    color: #ba806a;
    margin-top: 1em;
    font-size: 30px;
    text-align: center;
    cursor: pointer;
}


@media all and (max-width: 1200px){
    body {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    #tekemiset {
        width: 60%;
    }
}

@media all and (max-width: 800px){


    h1, #outCome{
        font-size: 2em;
        text-align: center;
    }

    h4, #desc{
        font-size: 1em;
        text-align: center;
    }

    #tekemiset {
        width: 100%;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

}